In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import time
from math import sqrt
import string
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_extraction.text import TfidfVectorizer

import nltk
from nltk.corpus import stopwords

from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords
from nltk.collocations import *


%config InlineBackend.figure_format = 'svg'

In [2]:
Ratings_df = pd.read_csv("/kaggle/input/cleaned-100k/ratings.csv")
Movies_df=  pd.read_csv("/kaggle/input/cleaned-100k/movies.csv")
Users_df= pd.read_csv("/kaggle/input/cleaned-100k/users.csv")

In [3]:
users_df = Users_df.drop(columns=['tag'])
users_df

      UserID  MovieID   Timestamp
0          2    60756  1445714994
1          2    60756  1445714996
2          2    60756  1445714992
3          2    89774  1445715207
4          2    89774  1445715200
...      ...      ...         ...
3678     606     7382  1171234019
3679     606     7936  1173392334
3680     610     3265  1493843984
3681     610     3265  1493843978
3682     610   168248  1493844270

[3683 rows x 3 columns]

In [4]:
movies_df =  Movies_df.drop(columns=['Genres'])
movies_df

,MovieID,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
ratings_df = Ratings_df
ratings_df

        UserID  MovieID  Rating   Timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
X =  ratings_df.drop(columns=['Rating'])
y = ratings_df['Rating']
X_train,X_val_test,y_train,y_val_test = train_test_split(X,y,test_size=0.3,random_state=101)
X_val,X_test,y_val,y_test = train_test_split(X_val_test,y_val_test,test_size=0.5,random_state=101)

train_df = X_train.copy()
train_df['Ratings']= y_train
train_df

       UserID  MovieID   Timestamp  Ratings
75849     477     6708  1200941623      3.5
77555     483     3301  1415576202      4.5
79980     500     3083  1005528017      1.0
19382     125    65642  1474375988      4.5
15549     102      454   835876151      4.0
...       ...      ...         ...      ...
5695       41     1641  1458939146      2.0
73542     474     1544   974666859      1.0
83281     527     2742  1033173581      1.0
83467     531      593  1032961647      5.0
45919     304     2393   918377374      5.0

[70585 rows x 4 columns]

In [7]:
baseline_df  =  train_df.groupby('MovieID')['Ratings'].mean()

In [8]:
def return_vals(x):
            if x in baseline_df: 
                return baseline_df[x] 
            else: 
                return 2.5 
baseline_val  =  X_val['MovieID'].map(return_vals)
sqrt(mean_squared_error(baseline_val,y_val))

0.9853537206375457

In [9]:
content_df  =  pd.merge(train_df,movies_df,on='MovieID')
content_df.drop(columns=['Timestamp','MovieID','Title'],inplace=True)
content_df

,UserID,Ratings,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,477,3.5,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0
1,483,4.5,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,500,1.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,125,4.5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
4,102,4.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70580,41,2.0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
70581,474,1.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
70582,527,1.0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
70583,531,5.0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
70584,304,5.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0

In [10]:
y_group_user =  content_df.groupby('UserID')
y_target_content = []
for i,j  in  y_group_user:
    y_target_content.append(j['Ratings'].values)
    
y_target_content[33]

array([3.5, 5. , 4.5, 1. , 3. , 4. , 3. , 3. , 2. , 0.5, 2. , 2. , 3.5,
       4. , 4.5, 5. , 4. , 2.5, 2. , 5. , 3. , 5. , 3.5, 4. , 1. , 4. ,
       4.5, 2. , 1. , 3. , 3. , 5. , 3.5, 3. , 4.5, 4.5, 4. , 3. , 4.5,
       5. , 2.5, 5. , 2.5, 4. , 4.5, 4. , 4.5, 4.5, 3. , 5. , 3.5, 4.5,
       2. , 5. , 3. , 4. ])

In [12]:
x_group_user =  content_df.groupby('UserID')
content_df.drop(columns=['Ratings'],inplace=True)
x_train_content = []
for i,j  in  x_group_user:
    x_train_content.append(j.drop(columns='UserID'))
x_train_content[33]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
44,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
607,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2783,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3852,1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0
4076,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4667,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
4849,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
7691,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0
7937,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
7975,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
9392,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
10862,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
11231,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
11294,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
12471,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
12693,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16230,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0
16366,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
17300,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
17480,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
17784,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
20923,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
22413,0,1,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0
22839,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
25946,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
26890,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
27238,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0
28027,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
28711,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
30222,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
33251,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0
37073,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
37377,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
37711,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
40700,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
41007,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
41772,1,1,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0
43268,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
46548,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
47151,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
49432,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
49988,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
51489,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
53230,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
54364,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
56319,1,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
56369,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
56554,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
59202,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
61238,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
62717,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0
63209,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
63325,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
64067,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
67654,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
69740,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0

In [13]:
all_movies =  movies_df.drop(columns=['Title','MovieID'])
all_movies

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9738,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9740,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
X_val

       UserID  MovieID   Timestamp
98891     608     1347  1117504931
28763     199     2527   940380371
86590     561       44  1491091620
7514       51     1391  1230929645
86428     560    49530  1469653959
...       ...      ...         ...
64048     414     5955  1095465790
41137     279     7153  1506394319
20507     135     2324  1009693631
33173     226     1258  1095662921
68196     438    41573  1146924159

[15125 rows x 3 columns]

In [15]:
user_ids = []
for user_id,group in x_group_user:
    user_ids.append(user_id)
df_val = X_val.copy()
df_val['Rating'] = y_val
validation_matrix =  pd.DataFrame(index=user_ids,columns=movies_df['MovieID'].values)
for item in df_val.to_records():
    validation_matrix.loc[item['UserID']][item['MovieID']] = item['Rating']
    
validation_matrix

/tmp/ipykernel_36/250223008.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  validation_matrix.loc[item['UserID']][item['MovieID']] = item['Rating']

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
ml_models =  {"Linear regression": LinearRegression(), "Lasso": Lasso(alpha=1.5, max_iter=10000), "Ridge":Ridge(alpha=1.0),
                 "KNN_7": KNeighborsRegressor(n_neighbors=7),
                 #"RFR": RandomForestRegressor(n_estimators=1000, n_jobs=3, random_state=0),
                 "SVR": SVR(C=1.0)}
cbf_preds = []
rmse_cbs_preds = []

for alg,model in ml_models.items():
    cbf_preds =  []
    for i,X in  enumerate(x_train_content):
        model.fit(x_train_content[i],y_target_content[i])
        preds = model.predict(all_movies)
        preds =  np.clip(preds,1,5)
        cbf_preds.append(preds)

    df_predict =  pd.DataFrame(cbf_preds,index=user_ids,columns=movies_df['MovieID'].values)
    actuals  =  validation_matrix.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    predictions  =  df_predict.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    
    RMSE = sqrt(mean_squared_error(actuals,predictions))
    rmse_cbs_preds.append(RMSE)
results =   pd.DataFrame({'Models':list(ml_models.keys()),'RMSE':rmse_cbs_preds})
results

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 0.000e+00, tolerance: 0.000e+00
  model = cd_fast.enet_coordinate_descent(

KeyboardInterrupt:

In [11]:
movie_descriptions_df =  pd.read_csv('/kaggle/input/cleaned-100k/movie_descriptions.csv')

In [12]:
movie_descriptions_df  =   movie_descriptions_df[['MovieID','Genres','overview','tagline']]

In [13]:
movie_descriptions_df['Genres']  = movie_descriptions_df['Genres'].map(lambda x: ' '.join(x.split('|')))

In [14]:
sum(movie_descriptions_df['overview'].isna()),sum(movie_descriptions_df['tagline'].isna())

(123, 1499)

In [15]:
movie_descriptions_df['overview'] =  movie_descriptions_df['overview'].fillna('')
movie_descriptions_df['tagline'] = movie_descriptions_df['tagline'].fillna('')

In [16]:
#tags = pd.read_csv("/kaggle/input/cleaned-100k/users.csv")

In [17]:
#tags

In [18]:
#movie_descriptions_merge = pd.merge(movie_descriptions_df,tags,on='MovieID',how='left')[['MovieID','Genres','overview','tagline','tag']]

In [19]:
movie_descriptions_df['combined_text']  =  movie_descriptions_df['Genres'] + ' ' + movie_descriptions_df['overview'] + ' ' + movie_descriptions_df['tagline']

In [20]:
movie_descriptions_df

,MovieID,Genres,overview,tagline,combined_text
0,1,Adventure Animation Children Comedy Fantasy,"Led by Woody, Andy's toys live happily in his ...",Hang on for the comedy that goes to infinity a...,Adventure Animation Children Comedy Fantasy Le...
1,2,Adventure Children Fantasy,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Adventure Children Fantasy When siblings Judy ...
2,3,Comedy Romance,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Comedy Romance A family wedding reignites the ...
3,4,Comedy Drama Romance,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"Comedy Drama Romance Cheated on, mistreated an..."
4,5,Comedy,Just when George Banks has recovered from his ...,Just when his world is back to normal... he's ...,Comedy Just when George Banks has recovered fr...
...,...,...,...,...,...
9737,193581,Action Animation Comedy Fantasy,"Ciel learns of a ""Aurora Society"", that is rum...",,Action Animation Comedy Fantasy Ciel learns of...
9738,193583,Animation Comedy Fantasy,"In ancient Disboard, Riku is an angry, young w...",,"Animation Comedy Fantasy In ancient Disboard, ..."
9739,193585,Drama,A woman deals with the toxic water scandal in ...,,Drama A woman deals with the toxic water scand...
9740,193587,Action Animation,A large scale catastrophe is occurring across ...,An underworld is rising.,Action Animation A large scale catastrophe is ...
9741,193609,Comedy,"Outrageous, misogynistic and vulgar-to-the-max...",Untamed! Uncut! Unbelievable!,"Comedy Outrageous, misogynistic and vulgar-to-..."

In [21]:
def standardize_text(df, text_field):
    df[text_field] = df[text_field].str.replace(r"http\S+", "")
    df[text_field] = df[text_field].str.replace(r"http", "")
    df[text_field] = df[text_field].str.replace(r"@\S+", "")
    df[text_field] = df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    df[text_field] = df[text_field].str.replace(r"@", "at")
    df[text_field] = df[text_field].str.replace(r"\n",' ')
    df[text_field] = df[text_field].str.lower()
    return df

In [22]:
standardize_text(movie_descriptions_df,"combined_text")['combined_text']

0       adventure animation children comedy fantasy le...
1       adventure children fantasy when siblings judy ...
2       comedy romance a family wedding reignites the ...
3       comedy drama romance cheated on, mistreated an...
4       comedy just when george banks has recovered fr...
                              ...
9737    action animation comedy fantasy ciel learns of...
9738    animation comedy fantasy in ancient disboard, ...
9739    drama a woman deals with the toxic water scand...
9740    action animation a large scale catastrophe is ...
9741    comedy outrageous, misogynistic and vulgar-to-...
Name: combined_text, Length: 9742, dtype: object

In [23]:
def process_words(movie_descriptions):
    m_data=[]
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    stopwords_list = stopwords.words('english')
    stopwords_list += list(string.punctuation)
    stopwords_list += ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
    stopwords_list += list(string.ascii_lowercase)
    
    for m in movie_descriptions:
        m_tokens_raw = nltk.regexp_tokenize(m, pattern)
        m_tokens=[word.lower() for word in m_tokens_raw]
        m_words_stopped = [word for word in m_tokens if word not in stopwords_list]
        m_data.append(m_words_stopped)
    return pd.Series(m_data)

In [24]:
 text = process_words(movie_descriptions_df['combined_text']).map(' '.join)

In [25]:
movie_descriptions_df['cleaned_text']   =  text

In [26]:
tokenized = process_words(movie_descriptions_df['combined_text'])

In [27]:
!pip install wordcloud

Requirement already satisfied: wordcloud in /opt/conda/lib/python3.10/site-packages (1.9.3)
Requirement already satisfied: numpy>=1.6.1 in /opt/conda/lib/python3.10/site-packages (from wordcloud) (1.26.4)
Requirement already satisfied: pillow in /opt/conda/lib/python3.10/site-packages (from wordcloud) (9.5.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from wordcloud) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib->wordcloud) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [28]:
from wordcloud import WordCloud, STOPWORDS
stop = set(STOPWORDS)
text = ' '.join(i for i in movie_descriptions_df['combined_text'])
cloud = WordCloud(stopwords=stop,max_font_size=50,max_words=100,background_color='white',random_state=1).generate(text)
plt.imshow(cloud)

In [29]:
def tfidf(data):
    tfidf_vect = TfidfVectorizer(max_df=0.3, min_df=0.05, ngram_range=(1,3), stop_words='english')
    embd = tfidf_vect.fit_transform(data)
    return embd,tfidf_vect

In [30]:
tfidf_vect = TfidfVectorizer(max_df=0.9, min_df=0.01,ngram_range=(1,3), stop_words='english')
movie_descriptions_df['TFIDF'] = tfidf_vect.fit_transform(movie_descriptions_df['cleaned_text']).toarray().tolist()

In [31]:
len(movie_descriptions_df['TFIDF'][3])

485

In [32]:
movie_descriptions_df

,MovieID,Genres,overview,tagline,combined_text,cleaned_text,TFIDF
0,1,Adventure Animation Children Comedy Fantasy,"Led by Woody, Andy's toys live happily in his ...",Hang on for the comedy that goes to infinity a...,adventure animation children comedy fantasy le...,adventure animation children comedy fantasy le...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2,Adventure Children Fantasy,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,adventure children fantasy when siblings judy ...,adventure children fantasy siblings judy peter...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3,Comedy Romance,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,comedy romance a family wedding reignites the ...,comedy romance family wedding reignites ancien...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,4,Comedy Drama Romance,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"comedy drama romance cheated on, mistreated an...",comedy drama romance cheated mistreated steppe...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,5,Comedy,Just when George Banks has recovered from his ...,Just when his world is back to normal... he's ...,comedy just when george banks has recovered fr...,comedy george banks recovered daughter's weddi...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...
9737,193581,Action Animation Comedy Fantasy,"Ciel learns of a ""Aurora Society"", that is rum...",,action animation comedy fantasy ciel learns of...,action animation comedy fantasy ciel learns au...,"[0.0, 0.0, 0.17475468105260764, 0.0, 0.0, 0.0,..."
9738,193583,Animation Comedy Fantasy,"In ancient Disboard, Riku is an angry, young w...",,"animation comedy fantasy in ancient disboard, ...",animation comedy fantasy ancient disboard riku...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
9739,193585,Drama,A woman deals with the toxic water scandal in ...,,drama a woman deals with the toxic water scand...,drama woman deals toxic water scandal flint mi...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
9740,193587,Action Animation,A large scale catastrophe is occurring across ...,An underworld is rising.,action animation a large scale catastrophe is ...,action animation large scale catastrophe occur...,"[0.0, 0.0, 0.13570711419459341, 0.0, 0.0, 0.0,..."
9741,193609,Comedy,"Outrageous, misogynistic and vulgar-to-the-max...",Untamed! Uncut! Unbelievable!,"comedy outrageous, misogynistic and vulgar-to-...",comedy outrageous misogynistic vulgar max come...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [33]:
tfidf_vect.vocabulary_

{'adventure': 10,
 'animation': 27,
 'children': 78,
 'comedy': 87,
 'fantasy': 167,
 'led': 265,
 'live': 272,
 'brings': 62,
 'place': 334,
 'heart': 213,
 'owner': 324,
 'eventually': 157,
 'learns': 262,
 'goes': 202,
 'adventure animation': 11,
 'animation children': 28,
 'children comedy': 79,
 'comedy fantasy': 91,
 'adventure animation children': 12,
 'animation children comedy': 29,
 'discover': 132,
 'game': 195,
 'world': 472,
 'inside': 235,
 'years': 479,
 'living': 274,
 'hope': 223,
 'evil': 158,
 'adventure children': 13,
 'children fantasy': 80,
 'romance': 367,
 'family': 165,
 'wedding': 461,
 'john': 240,
 'local': 276,
 'll': 275,
 'away': 38,
 'time': 431,
 'fighting': 177,
 'love': 284,
 'comedy romance': 94,
 'drama': 137,
 'women': 468,
 'good': 204,
 'man': 289,
 'break': 60,
 'friends': 191,
 'determined': 127,
 'better': 50,
 'way': 458,
 'people': 331,
 'comedy drama': 89,
 'drama romance': 142,
 'comedy drama romance': 90,
 'daughter': 113,
 'wife': 464,
 'home': 222,
 'plan': 335,
 'like': 270,
 'change': 75,
 'life': 269,
 'action': 2,
 'crime': 106,
 'thriller': 430,
 'master': 292,
 'leads': 260,
 'crew': 105,
 'los': 281,
 'angeles': 26,
 'detective': 126,
 'end': 151,
 'action crime': 7,
 'crime thriller': 109,
 'los angeles': 282,
 'business': 66,
 'brother': 64,
 'year': 477,
 'young': 482,
 'boy': 57,
 'murder': 307,
 'deadly': 117,
 'future': 194,
 'friendship': 192,
 'town': 432,
 'trying': 442,
 'kids': 244,
 'trouble': 437,
 'suddenly': 414,
 'taken': 417,
 'sets': 386,
 'rescue': 358,
 'terror': 425,
 'powerful': 344,
 'falls': 163,
 'agent': 21,
 'turned': 444,
 'enemy': 153,
 'save': 373,
 'dangerous': 111,
 'space': 397,
 'destroy': 125,
 'earth': 150,
 'ultimate': 446,
 'action adventure': 3,
 'president': 345,
 'men': 295,
 'wants': 455,
 'attempts': 37,
 'wild': 465,
 'thing': 428,
 'horror': 224,
 'lawyer': 257,
 'joins': 241,
 'search': 378,
 'professor': 348,
 'die': 128,
 'rise': 364,
 'dead': 116,
 'comedy horror': 92,
 'hero': 216,
 'look': 279,
 'fate': 169,
 'self': 382,
 'lost': 283,
 'quest': 351,
 'british': 63,
 'gets': 197,
 'head': 212,
 'great': 207,
 'job': 239,
 'problems': 347,
 'ex': 159,
 'artist': 35,
 'forever': 186,
 'crime drama': 107,
 'marriage': 290,
 'dies': 129,
 'law': 256,
 'son': 394,
 'leave': 263,
 'mr': 306,
 'money': 302,
 'struggle': 409,
 'romantic': 369,
 'society': 393,
 'learn': 261,
 'come': 86,
 'night': 320,
 'day': 114,
 'new': 317,
 'finds': 180,
 'journey': 242,
 'missing': 300,
 'war': 456,
 'york': 480,
 'cop': 102,
 'decides': 121,
 'tries': 435,
 'protect': 349,
 'action comedy': 6,
 'comedy crime': 88,
 'drama thriller': 145,
 'new york': 318,
 'crime drama thriller': 108,
 'sent': 383,
 'boss': 56,
 'bad': 39,
 'hollywood': 221,
 'meets': 294,
 'story': 406,
 'movie': 305,
 'really': 356,
 'different': 130,
 'mystery': 312,
 'female': 173,
 'work': 469,
 'killer': 247,
 'past': 330,
 'history': 219,
 'stop': 404,
 'killing': 248,
 'drama horror': 139,
 'horror mystery': 225,
 'mystery thriller': 313,
 'arrives': 33,
 'kill': 245,
 'return': 359,
 'death': 119,
 'sci': 375,
 'fi': 174,
 'known': 251,
 'struggles': 410,
 'mysterious': 311,
 'power': 343,
 'things': 429,
 'lives': 273,
 'ways': 459,
 'human': 230,
 'drama sci': 143,
 'sci fi': 376,
 'young man': 483,
 'drama sci fi': 144,
 'friend': 190,
 'order': 323,
 'film': 178,
 'childhood': 77,
 'summer': 415,
 'boys': 59,
 'woman': 467,
 'girl': 199,
 'left': 266,
 'captain': 68,
 'later': 255,
 'force': 183,
 'father': 170,
 'company': 100,
 'rich': 362,
 'successful': 413,
 'dreams': 148,
 'dream': 147,
 'adventure drama': 15,
 'drama fantasy': 138,
 'knows': 252,
 'city': 82,
 'high': 217,
 'school': 374,
 'returns': 360,
 'military': 297,
 'students': 412,
 'rules': 370,
 'high school': 218,
 'forced': 184,
 'dr': 136,
 'famous': 166,
 'group': 209,
 'army': 32,
 'fi thriller': 175,
 'sci fi thriller': 377,
 'little': 271,
 'know': 250,
 'greatest': 208,
 'help': 215,
 'long': 278,
 'turns': 445,
 'days': 115,
 'couple': 104,
 'wealthy': 460,
 'meet': 293,
 'decide': 120,
 'play': 338,
 'perfect': 332,
 'student': 411,
 'popular': 342,
 'right': 363,
 'sex': 387,
 'south': 396,
 'big': 51,
 'plans': 337,
 'drama war': 146,
 'car': 69,
 'action crime drama': 8,
 'king': 249,
 'ii': 232,
 'close': 84,
 'fall': 162,
 'leaves': 264,
 'travels': 434,
 'old': 322,
 'true': 438,
 'battle': 43,
 'based': 42,
 'adventure fantasy': 16,
 'makes': 287,
 'stand': 399,
 'soon': 395,
 'visit': 453,
 'desperate': 123,
 'dark': 112,
 'takes': 418,
 'mind': 299,
 'partner': 328,
 'case': 71,
 'musical': 310,
 'american': 25,
 'th': 426,
 'century': 73,
 'legend': 267,
 'comes': 97,
 'drama musical': 140,
 'falls love': 164,
 'th century': 427,
 'working': 470,
 'free': 188,
 'works': 471,
 'million': 298,
 'mother': 303,
 'star': 400,
 'plot': 339,
 'set': 385,
 'political': 341,
 'government': 206,
 'personal': 333,
 'teacher': 421,
 'pair': 325,
 'involved': 236,
 'sister': 390,
 'married': 291,
 'band': 40,
 'hit': 220,
 'finally': 179,
 'making': 288,
 'boyfriend': 58,
 'year old': 478,
 'justice': 243,
 'murdered': 308,
 'music': 309,
 'small': 391,
 'road': 365,
 'moves': 304,
 'age': 20,
 'gang': 196,
 'girlfriend': 200,
 'want': 454,
 'island': 237,
 'relationship': 357,
 'begin': 45,
 'mission': 301,
 'special': 398,
 'control': 101,
 'use': 449,
 'teenage': 423,
 'revenge': 361,
 'husband': 231,
 'affair': 19,
 'looking': 280,
 'brothers': 65,
 'going': 203,
 'hell': 214,
 'horror thriller': 228,
 'team': 422,
 'secret': 380,
 'college': 85,
 'tells': 424,
 'escape': 155,
 'make': 286,
 'begins': 46,
 'book': 54,
 'world war': 473,
 'war ii': 457,
 'world war ii': 474,
 'tale': 420,
 'chance': 74,
 'writer': 475,
 'planet': 336,
 'race': 353,
 'documentary': 135,
 'bring': 61,
 'try': 441,
 'face': 161,
 'late': 254,
 'community': 99,
 'called': 67,
 'despite': 124,
 'white': 463,
 'using': 450,
 'fight': 176,
 'unexpected': 447,
 'caught': 72,
 'survive': 416,
 'action adventure drama': 4,
 'named': 314,
 'turn': 443,
 'experience': 160,
 'ends': 152,
 'getting': 198,
 'christmas': 81,
 'starts': 402,
 'village': 451,
 'paris': 327,
 'police': 340,
 'far': 168,
 'land': 253,
 'young woman': 484,
 'street': 408,
 'following': 181,
 'legendary': 268,
 'got': 205,
 'adventure comedy': 14,
 'single': 389,
 'killed': 246,
 'win': 466,
 'house': 229,
 'apartment': 31,
 'black': 52,
 'comedy musical': 93,
 'art': 34,
 'entire': 154,
 'country': 103,
 'action drama': 9,
 'violent': 452,
 'york city': 481,
 'new york city': 319,
 'stay': 403,
 'criminal': 110,
 'fear': 172,
 'parents': 326,
 'deal': 118,
 'drama mystery': 141,
 'best': 48,
 'london': 277,
 'doctor': 134,
 'ruthless': 372,
 'run': 371,
 'true story': 439,
 'beautiful': 44,
 'child': 76,
 'trip': 436,
 'quickly': 352,
 'wrong': 476,
 'stories': 405,
 'real': 354,
 'discovers': 133,
 'lover': 285,
 'officer': 321,
 'director': 131,
 'truth': 440,
 'hard': 211,
 'career': 70,
 'drug': 149,
 'imax': 233,
 'lead': 258,
 'small town': 392,
 'alive': 23,
 'class': 83,
 'attempt': 36,
 'prove': 350,
 'start': 401,
 'body': 53,
 'deep': 122,
 'western': 462,
 'follows': 182,
 'best friend': 49,
 'guy': 210,
 'series': 384,
 'seen': 381,
 'united': 448,
 'fun': 193,
 'travel': 433,
 'leader': 259,
 'coming': 98,
 'including': 234,
 'believe': 47,
 'forces': 185,
 'bank': 41,
 'born': 55,
 'strange': 407,
 'second': 379,
 'middle': 296,
 'alien': 22,
 'horror sci': 226,
 'horror sci fi': 227,
 'reality': 355,
 'french': 189,
 'accidentally': 1,
 'jack': 238,
 'america': 24,
 'need': 315,
 'prison': 346,
 'adventure sci': 17,
 'action adventure sci': 5,
 'adventure sci fi': 18,
 'needs': 316,
 'party': 329,
 'taking': 419,
 'accident': 0,
 'shot': 388,
 'girls': 201,
 'comedy sci': 95,
 'comedy sci fi': 96,
 'events': 156,
 'form': 187,
 'fbi': 171,
 'rock': 366,
 'romance thriller': 368,
 'animation comedy': 30}

In [47]:
content_df  =  pd.merge(train_df,movie_descriptions_df,on='MovieID')
content_df.drop(columns=['MovieID','Genres','overview','tagline','combined_text','cleaned_text','Timestamp'],inplace=True)
#pd.to_csv('content_df.csv',index=False)

In [35]:
y_group_user =  content_df.groupby('UserID')
y_target_content = []
for i,j  in  y_group_user:
    y_target_content.append(j['Ratings'].values)
    
y_target_content[33]

array([3.5, 5. , 4.5, 1. , 3. , 4. , 3. , 3. , 2. , 0.5, 2. , 2. , 3.5,
       4. , 4.5, 5. , 4. , 2.5, 2. , 5. , 3. , 5. , 3.5, 4. , 1. , 4. ,
       4.5, 2. , 1. , 3. , 3. , 5. , 3.5, 3. , 4.5, 4.5, 4. , 3. , 4.5,
       5. , 2.5, 5. , 2.5, 4. , 4.5, 4. , 4.5, 4.5, 3. , 5. , 3.5, 4.5,
       2. , 5. , 3. , 4. ])

In [36]:
x_group_user =  content_df.groupby('UserID')
content_df.drop(columns=['Ratings'],inplace=True)
x_train_content = []
for i,j  in  x_group_user:
    x_train_content.append(j.drop(columns='UserID'))
x_train_content[33]

                                                   TFIDF
44     [0.0, 0.0, 0.13985090070994438, 0.0, 0.0, 0.0,...
607    [0.0, 0.0, 0.14676537931068034, 0.209322204835...
2783   [0.0, 0.0, 0.1292300168489273, 0.1843126232136...
3852   [0.0, 0.0, 0.17142878472156622, 0.0, 0.0, 0.0,...
4076   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4667   [0.0, 0.0, 0.15980737533335332, 0.0, 0.0, 0.0,...
4849   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
7691   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
7937   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
7975   [0.0, 0.0, 0.12716369307887573, 0.0, 0.0, 0.0,...
9392   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
10862  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
11231  [0.0, 0.0, 0.150259593029689, 0.21430578150197...
11294  [0.0, 0.0, 0.1384525360073994, 0.1974661206764...
12471  [0.0, 0.0, 0.1607315027373327, 0.0, 0.0, 0.0, ...
12693  [0.0, 0.0, 0.19606498417431154, 0.0, 0.0, 0.0,...
16230  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
16366  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17300  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
17480  [0.0, 0.0, 0.21683352093814476, 0.0, 0.0, 0.0,...
17784  [0.0, 0.0, 0.2886674396883546, 0.0, 0.0, 0.0, ...
20923  [0.0, 0.0, 0.18739582085498036, 0.0, 0.0, 0.0,...
22413  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
22839  [0.0, 0.0, 0.1631270085991181, 0.2326577648523...
25946  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
26890  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
27238  [0.0, 0.0, 0.1842722755400792, 0.0, 0.0, 0.0, ...
28027  [0.0, 0.0, 0.12307333097138326, 0.0, 0.0, 0.0,...
28711  [0.0, 0.0, 0.13681049958862632, 0.0, 0.0, 0.0,...
30222  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
33251  [0.0, 0.0, 0.12819782341720942, 0.0, 0.0, 0.0,...
37073  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
37377  [0.0, 0.0, 0.24172120115655785, 0.0, 0.0, 0.0,...
37711  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
40700  [0.0, 0.0, 0.17504092236248575, 0.249649828708...
41007  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
41772  [0.0, 0.0, 0.15196833889730338, 0.216742857971...
43268  [0.0, 0.0, 0.13903344706632043, 0.0, 0.0, 0.0,...
46548  [0.0, 0.0, 0.20125291976009652, 0.0, 0.0, 0.0,...
47151  [0.0, 0.0, 0.12241922056842205, 0.174598813997...
49432  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
49988  [0.0, 0.0, 0.17310882118563825, 0.246894194647...
51489  [0.0, 0.0, 0.08627532371464296, 0.0, 0.0, 0.0,...
53230  [0.0, 0.3861478366254705, 0.0, 0.0, 0.0, 0.0, ...
54364  [0.0, 0.0, 0.15481093137457905, 0.0, 0.0, 0.0,...
56319  [0.0, 0.0, 0.12782072430548255, 0.182302638135...
56369  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
56554  [0.0, 0.0, 0.14191825974766578, 0.0, 0.0, 0.0,...
59202  [0.0, 0.0, 0.15844020237007814, 0.0, 0.0, 0.0,...
61238  [0.0, 0.0, 0.17868361355027146, 0.0, 0.0, 0.0,...
62717  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
63209  [0.0, 0.0, 0.18752847102643477, 0.267460031848...
63325  [0.0, 0.0, 0.15335703695680036, 0.218723470436...
64067  [0.0, 0.0, 0.14329621203620668, 0.204374350332...
67654  [0.0, 0.0, 0.12060885528919012, 0.172016804169...
69740  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

In [37]:
all_movies =  movie_descriptions_df['TFIDF']
all_movies = [x for x in all_movies]

In [38]:
len(all_movies)

9742

In [39]:
user_ids = []
for user_id,group in x_group_user:
    user_ids.append(user_id)
df_val = X_val.copy()
df_val['Rating'] = y_val
validation_matrix =  pd.DataFrame(index=user_ids,columns=movies_df['MovieID'].values)
for item in df_val.to_records():
    validation_matrix.loc[item['UserID']][item['MovieID']] = item['Rating']
    
validation_matrix

/tmp/ipykernel_36/250223008.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  validation_matrix.loc[item['UserID']][item['MovieID']] = item['Rating']

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
vals  =  [x for x  in   x_train_content[22]['TFIDF']]

In [221]:
ml_models =  {"Linear regression": LinearRegression(), "Lasso": Lasso(alpha=1.5, max_iter=10000), "Ridge":Ridge(alpha=1.0),
                 "KNN_7": KNeighborsRegressor(n_neighbors=7),
                 #"RFR": RandomForestRegressor(n_estimators=1000, n_jobs=3, random_state=0),
                 "SVR": SVR(C=1.0)}
cbf_preds = []
rmse_cbs_preds = []

for alg,model in ml_models.items():
    cbf_preds =  []
    for i,X in  enumerate(x_train_content):
        train  =  [x for x  in   x_train_content[i]['TFIDF']]
        model.fit(train,y_target_content[i])
        preds = model.predict(all_movies)
        preds =  np.clip(preds,1,5)
        cbf_preds.append(preds)

    df_predict =  pd.DataFrame(cbf_preds,index=user_ids,columns=movies_df['MovieID'].values)
    actuals  =  validation_matrix.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    predictions  =  df_predict.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    
    RMSE = sqrt(mean_squared_error(actuals,predictions))
    rmse_cbs_preds.append(RMSE)
results =   pd.DataFrame({'Models':list(ml_models.keys()),'RMSE':rmse_cbs_preds})
results

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 0.000e+00, tolerance: 0.000e+00
  model = cd_fast.enet_coordinate_descent(

              Models      RMSE
0  Linear regression  1.291967
1              Lasso  0.943501
2              Ridge  0.940298
3              KNN_7  0.954383
4                SVR  0.929917

## Best Model Train

In [226]:
ml_models =  {"SVR1": SVR(C=0.7),"SVR2": SVR(C=1.3)}
cbf_preds = []
rmse_cbs_preds = []

for alg,model in ml_models.items():
    cbf_preds =  []
    for i,X in  enumerate(x_train_content):
        train  =  [x for x  in   x_train_content[i]['TFIDF']]
        model.fit(train,y_target_content[i])
        preds = model.predict(all_movies)
        preds =  np.clip(preds,1,5)
        cbf_preds.append(preds)

    df_predict =  pd.DataFrame(cbf_preds,index=user_ids,columns=movies_df['MovieID'].values)
    actuals  =  validation_matrix.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    predictions  =  df_predict.to_numpy().flatten()[validation_matrix.notna().to_numpy().flatten()]
    
    RMSE = sqrt(mean_squared_error(actuals,predictions))
    rmse_cbs_preds.append(RMSE)
results =   pd.DataFrame({'Models':list(ml_models.keys()),'RMSE':rmse_cbs_preds})
results

  Models      RMSE
0   SVR1  0.932936
1   SVR2  0.928290

In [47]:
len(x_train_content)

610

In [92]:
ratings_df = pd.read_csv("/kaggle/input/cleaned-100k/ratings.csv")
Movies_df=  pd.read_csv("/kaggle/input/cleaned-100k/movies.csv")
#X =  ratings_df.drop(columns=['Rating'])
#y = ratings_df['Rating']
content_df  =  pd.merge(ratings_df,movie_descriptions_df,on='MovieID')
content_df.drop(columns=['Genres','overview','tagline','combined_text','cleaned_text','Timestamp'],inplace=True)
content_df
content_df.to_csv('content_df.csv',index=False)

In [93]:
content_df

,UserID,MovieID,Rating,TFIDF
0,1,1,4.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1,3,4.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,1,6,4.0,"[0.0, 0.0, 0.10740813073912028, 0.0, 0.0, 0.0,..."
3,1,47,5.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1,50,5.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...
100831,610,166534,4.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
100832,610,168248,5.0,"[0.0, 0.0, 0.16532365612854438, 0.0, 0.0, 0.0,..."
100833,610,168250,5.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
100834,610,168252,5.0,"[0.0, 0.0, 0.16678491984958765, 0.0, 0.0, 0.0,..."
100835,610,170875,3.0,"[0.0, 0.0, 0.16387181407001042, 0.0, 0.0, 0.0,..."

In [94]:
y_group_user =  content_df.groupby('UserID')
y_target_content = []
for i,j  in  y_group_user:
    y_target_content.append(j['Rating'].values)

In [95]:
x_group_user =  content_df.groupby('UserID')
#content_df.drop(columns=['Ratings'],inplace=True)
x_train_content = []
for i,j  in  x_group_user:
    x_train_content.append(j.drop(columns='UserID'))

In [96]:
all_movies =  movie_descriptions_df['TFIDF']
all_movies = [x for x in all_movies]

In [67]:
watched = set(x_train_content[2]['MovieID'].values)

In [75]:
not_watched_tfidf =movie_descriptions_df[movie_descriptions_df['MovieID'].map(lambda x: x not in watched)]

In [76]:
not_watched_tfidf

,MovieID,Genres,overview,tagline,combined_text,cleaned_text,TFIDF
0,1,Adventure Animation Children Comedy Fantasy,"Led by Woody, Andy's toys live happily in his ...",Hang on for the comedy that goes to infinity a...,adventure animation children comedy fantasy le...,adventure animation children comedy fantasy le...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2,Adventure Children Fantasy,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,adventure children fantasy when siblings judy ...,adventure children fantasy siblings judy peter...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3,Comedy Romance,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,comedy romance a family wedding reignites the ...,comedy romance family wedding reignites ancien...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,4,Comedy Drama Romance,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"comedy drama romance cheated on, mistreated an...",comedy drama romance cheated mistreated steppe...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,5,Comedy,Just when George Banks has recovered from his ...,Just when his world is back to normal... he's ...,comedy just when george banks has recovered fr...,comedy george banks recovered daughter's weddi...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...
9737,193581,Action Animation Comedy Fantasy,"Ciel learns of a ""Aurora Society"", that is rum...",,action animation comedy fantasy ciel learns of...,action animation comedy fantasy ciel learns au...,"[0.0, 0.0, 0.17475468105260764, 0.0, 0.0, 0.0,..."
9738,193583,Animation Comedy Fantasy,"In ancient Disboard, Riku is an angry, young w...",,"animation comedy fantasy in ancient disboard, ...",animation comedy fantasy ancient disboard riku...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
9739,193585,Drama,A woman deals with the toxic water scandal in ...,,drama a woman deals with the toxic water scand...,drama woman deals toxic water scandal flint mi...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
9740,193587,Action Animation,A large scale catastrophe is occurring across ...,An underworld is rising.,action animation a large scale catastrophe is ...,action animation large scale catastrophe occur...,"[0.0, 0.0, 0.13570711419459341, 0.0, 0.0, 0.0,..."
9741,193609,Comedy,"Outrageous, misogynistic and vulgar-to-the-max...",Untamed! Uncut! Unbelievable!,"comedy outrageous, misogynistic and vulgar-to-...",comedy outrageous misogynistic vulgar max come...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [101]:

def  CBF(user_id):
    train  =  [x for x  in   x_train_content[user_id]['TFIDF']]
    model =  SVR(C=1.3)
    model.fit(train,y_target_content[user_id])
    watched = set(x_train_content[user_id]['MovieID'].values)
    not_watched = movie_descriptions_df[movie_descriptions_df['MovieID'].map(lambda x: x not in watched)]
    not_watched_tfidf = [x for x in not_watched['TFIDF']]
    preds = model.predict(not_watched_tfidf)
    preds =  np.clip(preds,0,5)
    result = pd.DataFrame({'Movie_id':not_watched['MovieID'],'content_preds':preds})
    return result

In [105]:
CBF(55)

      Movie_id  content_preds
0            1       3.940374
1            2       3.798299
2            3       3.878022
3            4       3.933853
4            5       3.797676
...        ...            ...
9737    193581       3.672591
9738    193583       3.719682
9739    193585       3.809541
9740    193587       3.815312
9741    193609       3.900487

[9696 rows x 2 columns]