In [104]:
import pandas as pd

In [105]:
ratings =  pd.read_csv('ml-1m/ratings.dat',sep='::',names=['UserID','MovieID','Rating','Timestamp'],engine='python',header=0)

In [106]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1      661       3  978302109
1       1      914       3  978301968
2       1     3408       4  978300275
3       1     2355       5  978824291
4       1     1197       3  978302268

In [107]:
missing = ratings.describe()

In [108]:
missing =  ratings.isnull().sum()
print("Missing values",missing)
perc = round(missing/ratings.shape[0]*100,2)
print("Percentage of Missing",perc)

Missing values UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64
Percentage of Missing UserID       0.0
MovieID      0.0
Rating       0.0
Timestamp    0.0
dtype: float64

In [109]:
ratings['Timestamp'].isnull().sum()

0

In [110]:
ratings['Rating'].max(),ratings['Rating'].min()

(5, 1)

In [112]:
ratings.to_csv('cleaned/ratings.csv', index=False)

In [113]:
user_df = pd.read_csv('ml-1m/users.dat',sep='::',names=['UserID','Gender','Age','Occupation','Zip-code'],engine='python')

In [114]:
user_df

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [115]:
user_df.describe()

            UserID          Age   Occupation
count  6040.000000  6040.000000  6040.000000
mean   3020.500000    30.639238     8.146854
std    1743.742145    12.895962     6.329511
min       1.000000     1.000000     0.000000
25%    1510.750000    25.000000     3.000000
50%    3020.500000    25.000000     7.000000
75%    4530.250000    35.000000    14.000000
max    6040.000000    56.000000    20.000000

In [116]:
missing = user_df.isnull().sum()
print('Missing',missing)

Missing UserID        0
Gender        0
Age           0
Occupation    0
Zip-code      0
dtype: int64

In [117]:
user_df.to_csv('cleaned/users.csv', index=False)

In [118]:
import chardet,urllib
uni = chardet.UniversalDetector()

In [119]:
with open('ml-1m/movies.dat', 'rb') as f:
    result = chardet.detect(f.read())
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [120]:
movies_df = pd.read_csv('ml-1m/movies.dat',names=['MovieID','Title','Genres'],
encoding='ISO-8859-1',sep='::',engine='python')

In [121]:
movies_df

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [122]:
missing =  movies_df.isnull().sum()
print("Missing values",missing)
perc = round(missing/ratings.shape[0]*100,2)
print("Percentage of Missing",perc)

Missing values MovieID    0
Title      0
Genres     0
dtype: int64
Percentage of Missing MovieID    0.0
Title      0.0
Genres     0.0
dtype: float64

In [123]:
genres =   [ 'Action',
	 'Adventure',
	'Animation',
	"Children's",
	 'Comedy',
	 'Crime',
	 'Documentary',
	 'Drama',
	 'Fantasy',
	'Film-Noir',
	 'Horror',
	 'Musical',
	 'Mystery',
	 'Romance',
	 'Sci-Fi',
	 'Thriller',
	 'War',
	 'Western']

In [124]:
genres

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [125]:
for genre in genres:
    movies_df.loc[:,genre] = 0

In [126]:
movies_df

,MovieID,Title,Genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
for row in movies_df.iterrows():
    index = row[0]
    genre_data = row[1][2]
    for genre in genres:
        if genre in genre_data:
            movies_df.loc[index, genre] = 1

C:\Users\sendh\AppData\Local\Temp\ipykernel_8448\1049378348.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  genre_data = row[1][2]

In [128]:
movies_df

,MovieID,Title,Genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [129]:
movies_df.drop(labels=['Genres'], axis=1, inplace=True)

In [132]:
movies_df

,MovieID,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [131]:
movies_df.to_csv('cleaned/movies.csv', index=False)