In [10]:
import pandas as pd

In [11]:
ratings =  pd.read_csv('ml-1m/ratings.dat',sep='::',names=['UserID','MovieID','Rating','Timestamp'],engine='python',header=0)

In [12]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1      661       3  978302109
1       1      914       3  978301968
2       1     3408       4  978300275
3       1     2355       5  978824291
4       1     1197       3  978302268

In [13]:
missing = ratings.describe()

             UserID       MovieID        Rating     Timestamp
count  1.000208e+06  1.000208e+06  1.000208e+06  1.000208e+06
mean   3.024515e+03  1.865541e+03  3.581563e+00  9.722437e+08
std    1.728411e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [17]:
missing =  ratings.isnull().sum()
print("Missing values",missing)
perc = round(missing/ratings.shape[0]*100,2)
print("Percentage of Missing",perc)

Missing values UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64
Percentage of Missing UserID       0.0
MovieID      0.0
Rating       0.0
Timestamp    0.0
dtype: float64

In [18]:
ratings['Timestamp'].isnull().sum()

0

In [24]:
ratings['Rating'].max(),ratings['Rating'].min()

(5, 1)

In [48]:
user_df = pd.read_csv('ml-1m/users.dat',sep='::',names=['UserID','Gender','Age','Occupation','Zip-code'],engine='python')

In [49]:
user_df

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [31]:
user_df.describe()

            UserID          Age   Occupation
count  6040.000000  6040.000000  6040.000000
mean   3020.500000    30.639238     8.146854
std    1743.742145    12.895962     6.329511
min       1.000000     1.000000     0.000000
25%    1510.750000    25.000000     3.000000
50%    3020.500000    25.000000     7.000000
75%    4530.250000    35.000000    14.000000
max    6040.000000    56.000000    20.000000

In [32]:
missing = user_df.isnull().sum()
print('Missing',missing)

Missing UserID        0
Gender        0
Age           0
Occupation    0
Zip-code      0
dtype: int64

In [42]:
import chardet,urllib
uni = chardet.UniversalDetector()

In [54]:
movies_df = pd.read_csv('ml-1m/movies.dat')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 3114: invalid continuation byte

In [ ]:
missing =  movies_dfs.isnull().sum()
print("Missing values",missing)
perc = round(missing/ratings.shape[0]*100,2)
print("Percentage of Missing",perc)